@media (min-width: 992px){
    header .nav-link {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 767.99px) {
    #servicos a.destaque .img-container {
        height: 150px;
    }
    #servicos a.destaque .img-container img {
        max-height: 150px;
    }
    #clientes .cliente-texto .imagem {
        padding: 10px 0px 30px 0px
    }
    #clientes .cliente-texto .imagem img {
        max-width: 150px;
    }
}